<div class="listing-card" style="width: 17rem; margin:0.5em;"  (click) = "open(listingDetailModal)">
  <div class="time-ago">
    {{this.displayName}} / {{this.timeAgo()}} 
</div>
    <img class="card-img-top" [src] = "url" *ngIf = "url" alt="Card image cap" >
    <div class="card-body">
      
      <div class="listing-title"> {{this.listingDetails['title']}}</div>

    <div class="listing-desc"> 
        {{this.listingDetails['description']}} 
    </div>
      

    
    </div>
  </div>



  <!-- Modal details-->
  <ng-template #listingDetailModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{this.listingDetails['title']}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img class="card-img-top" [src] = "url" *ngIf = "url" alt="Card image cap" >
      <div id="description">
        Description: {{this.listingDetails['description']}}
    </div>

    <br>

    <div id="duration">
        Price (SGD): {{this.listingDetails['price']}}
    </div>

    <br>

    <div id="contact">
        Contact: {{this.listingDetails['contact']}}
    </div>

    <br>

    <div id="creator">
        Posted By: {{this.displayName}}
    </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div> -->
    <div id="possible-actions" class="modal-footer">
      <div *ngIf="this.userID == this.creatorID">
          <!-- <button  type="button" class="btn btn-primary" >Edit</button> -->
          <button  type="button" class="btn btn-primary" (click) = "deleteListing()">Delete</button>
      </div>

      <!-- <div *ngIf="this.userID == this.creatorID">
          <button  type="button" class="btn btn-primary" (click) = "addToWishlist()">Add To Wishlist</button>
      </div> -->
      <div *ngIf="this.userID == this.creatorID">
          <button type="button" class="btn btn-primary"  >Help {{this.displayName}}!</button>
          <!-- <button *ngIf="this.requestDetails['status'] == 'ongoing' && this.requestDetails['helper'] == this.userID " type="button" class="btn btn-primary" (click)="unacceptRequest()" >Give up</button>
          <button *ngIf="this.requestDetails['status'] == 'ongoing' && this.requestDetails['helper'] == this.userID " type="button" class="btn btn-primary" (click)="completeRequest()" >I've finished!</button> -->
      </div>
  </div>
  </ng-template>
  <!-- Modal -->
<!-- <div id="listingDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog"> -->

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.{{this.listingDetails['description']}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->

  <!-- Modal -->
<!-- <div class="modal fade" id="listingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="listingDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{this.listingDetails['title']}} 
        <h5 class="modal-title" id="listingDetailsModalLabel">{{this.listingDetails['title']}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <script>

  $(document).ready(function() {
    $('#listingDetailsModal').modal('show');
  })
</script> -->