<div class="listing-card" style="width: 17rem; margin:0.5em;" (click)="open(listingDetailModal)">
  <div class="time-ago">
    {{this.displayName}} / {{this.timeAgo()}}
  </div>
  <img class="card-img-top" [src]="url" *ngIf="url" alt="Card image cap">
  <div class="card-body">

    <div class="listing-title"> {{this.listingDetails['title']}}</div>

    <div class="listing-desc">
      {{this.listingDetails['description']}}
    </div>



  </div>
</div>



<!-- Modal details-->
<ng-template #listingDetailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.listingDetails['title']}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div *ngIf="downloadURL | async; let url"> -->
      <img class="card-img-top" [src]="url" *ngIf="url" alt="Card image cap">
    <!-- </div> -->
    <div id="description">
      Description: {{this.listingDetails['description']}}
    </div>

    <br>

    <div id="duration">
      Price (SGD): {{this.listingDetails['price']}}
    </div>

    <br>

    <div id="contact">
      Contact: {{this.listingDetails['contact']}}
    </div>

    <br>

    <div id="creator">
      Posted By: {{this.displayName}}
    </div>

    <br>

    <!-- creator view for current offers-->
    <div id="offers">
      <div *ngIf="this.offers && this.userID == this.creatorID && this.listingDetails['status'] != 'completed'">
        Current offers below - click to accept!
        <div *ngFor="let offer of this.offers">
          <button (click)="open(acceptOfferModal)">${{offer["price"]}} by {{offer["offererName"]}}</button>

          <!-- Accept Offer confirmation -->
          <ng-template #acceptOfferModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Accept Offer Confirmation</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Offer: ${{offer["price"]}} by {{offer["offererName"]}}

            </div>

            <div class="modal-footer">
              This listing will be marked as completed!
              <button type="button" class="btn btn-primary" (click)="acceptOffer(offer)">Accept Offer</button>

            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- non creator view for current offers -->
    <div id="offers">
      <div *ngIf="this.offers && this.userID != this.creatorID && this.listingDetails['status'] != 'completed'">
        Current offers:
        <div *ngFor="let offer of this.offers">
          ${{offer["price"]}} by {{offer["offererName"]}}
        </div>
      </div>
    </div>
  </div>

  <!-- Completed view -->
  <div id="completedListing">
    <div *ngIf="this.listingDetails['status'] == 'completed'">
      <h3 class="badge badge-success"> Accepted by {{this.listingDetails['acceptedBy']}} at
        ${{this.listingDetails['acceptedPrice']}}</h3>
    </div>
  </div>
  <!-- end of completed view -->


  <div id="possible-actions" class="modal-footer">
    <div *ngIf="this.userID == this.creatorID ">
      <button type="button" class="btn btn-primary" (click)="deleteListing()">Delete</button>
    </div>

    <div *ngIf="this.userID != this.creatorID && this.listingDetails['status'] != 'completed'">
      <button type="button" class="btn btn-primary" (click)="open(makeOfferModal)">Make Offer</button>
    </div>
  </div>
</ng-template>


<!-- Make Offer details-->
<ng-template #makeOfferModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make Offer Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div id="offers">
      Current offers:
      <div *ngIf="this.offers">
        <div *ngFor="let offer of this.offers">
          ${{offer["price"]}} by {{offer["offererName"]}}
        </div>
      </div>
    </div>

    <div>
      <form [formGroup]="offerForm">
        <label class="col-sm-4 col-form-label">Price (SGD)
          <span *ngIf="offerForm.controls['price'].invalid">
            <span class="alert">*</span>
          </span>
        </label>
        <input type="number" step="0.05" placeholder="Price" formControlName="price">
      </form>

    </div>

  </div>

  <div class="modal-footer">
    This will be added to your Ongoing transactions.
    <button type="button" class="btn btn-primary" (click)="makeOffer()">Confirm Offer</button>

  </div>
</ng-template>