<nav class="navbar navbar-expand-lg bg" style="max-height: 120px;">
    <a class="navbar-brand brand-title"  href="home">
        <img src="../../assets/splash-bros.png" width="30" height="30" class="d-inline-block" alt="">
        weShare
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- not logged in navbar -->
    <div id="unregistered-navbar" class="collapse navbar-collapse" *ngIf="!isLogin">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:#fff" routerLinkActive="active" routerLink="login">Login <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

    <!-- logged in navbar -->
    <div id="registered-navbar" class="collapse navbar-collapse " style="margin-left: 5em;" *ngIf="isLogin">
        <ul class="navbar-nav mr-auto" >

            <!-- explore tab -->
            <li class="nav-item">
                <a class="nav-link nav-text"  routerLinkActive="active" routerLink="explore">Explore</a>
            </li>

            <!-- marketplace tab -->
            <li class="nav-item">
                <a class="nav-link nav-text" routerLinkActive="active" routerLink="marketplace">Marketplace</a>
            </li>
            
            <!-- logout tab -->
            <li class="nav-item">
                <a class="nav-link nav-text" routerLinkActive="active" href="javascript:void(0);" (click)="auth.signOut()">Logout <span
                        class="sr-only">(current)</span></a>
            </li>
            
            <!-- profile image -->
            <li>
                <div class="image-holder" style="margin-left: 0.5em; margin-top: 0.3em;">
                    <img src="{{this.userImg}}" class="image-holder">
                </div>
            </li>
        </ul>
    </div>


</nav>