.bg {
    background-color: #5d97b9!important;
}


.image-holder {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.user-img {
    display: block;
    /* background: #778ca3; */
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    transition-duration: 0.22s;
    width: 100%;
    height: 100%;
}

.user-img:hover>.fa-camera {
    top: 65%;
    transition-duration: 0.2s;
}

.fa-camera {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 0.4em 2.5em;
    height: 35%;
    top: 100%;
    font-size: 2.5em;
    transition-duration: 0.2s;
}

.fa-camera:hover {
    background: rgba(0, 0, 0, 0.8);
}