<div class="page-height page-list">
  <img id="loading-header" src="../../../assets/loading.gif" />
  <div id="content" class="fade-right" style="display:none; padding-left: 20px;position:relative">


    <!-- profile header -->
    <div style="padding-top: 2em;">

      <div id="profile-image" class="header-item" style="margin-left: 0.5em; margin-top: 0.3em;">
        <img src="{{ this.userImg }}" class="image-holder" />
      </div>

      <div id="profile-name" class="profile-name header-item">
          {{ this.displayName }}
      </div>

      <div id="email" class="side-header-text header-item">
        {{ this.userEmail }}
      </div>

    </div>


    <!-- profile details -->
    <div id="profile-details" class="profile-section">

      <div id="section-header" style="display:flex;">
        <div class="section-title" style="width: 50%" > My Details </div>

        <div id="edit-icon" class="button-area" style="width: 50%">
          <div class="main-button profile-button"  (click)="toggleUserDetailsEdit()"> edit </div>
        </div>

        <div id="update-button" class="button-area" style="width: 50%; display:none;">
          <div class="main-button profile-button"  (click)="updateUserInfo()" data-dismiss="modal">done</div>
        </div>

      </div>


      <div id="details" style="color: grey;">
        <form id="details-form" [formGroup]="userForm">

            <!-- user contact -->
            <div id="contact" class="section-item top-border bottom-border" >
              <div style="margin-right:0.5em"> Contact : </div>

              <div id="contact-display">
                <div *ngIf="this.userContact">{{ this.userContact }}</div>
                <div *ngIf="!this.userContact" style="color:red;">nil</div>
              </div>

              <div id="contact-edit" style="display: none;">
                <textarea id="contact-textarea" rows="1" cols="20" style="vertical-align: middle;"
                  formControlName="userContact">{{ this.userContact }}</textarea>
              </div>

            </div>

            <!-- room details -->
            <div id="room-details" class="section-item bottom-border">
              <div style="margin-right:0.5em"> Room details : </div>

              <div id="room-display">
                <div *ngIf="this.roomDetails">{{ this.roomDetails }}</div>
                <div *ngIf="!this.roomDetails" style="color:red;">nil</div>
              </div>

              <div id="room-edit" style="display: none;">
                <textarea id="room-textarea" rows="1" cols="20" style="vertical-align: middle;"
                  formControlName="roomDetails">{{ this.roomDetails }}</textarea>
              </div>

            </div>

            <!-- hostel details -->
            <div id="hostel-details" class="section-item bottom-border">
              <div style="margin-right:0.5em"> Hostel : </div>

              <div id="room-display">
                <div *ngIf="this.roomDetails"> ABC Hall (*P.S. No option because we still do not support multiple communities )</div>
                <div *ngIf="!this.roomDetails" style="color:red;">nil</div>
              </div>


            </div>

        </form>

      </div>
    </div>


  </div>
</div>
