/* overall scroll */
.profile-list {
  overflow: scroll;
  padding-top:60px;
}
.profile-list::-webkit-scrollbar {
display: none;
}


/* header */

.header-item {
  display:flex;
  justify-content:center;
  align-items:center;
}
.profile-name {
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.5em;
}
.side-header-text {
  font-weight: 400;
  font-size: 1.2em;
}

.image-holder {
  display: block;
  position: relative;
  z-index: 1;
  background: center/cover no-repeat #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.24);
  overflow: hidden;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
  width: 10em;
  height: 10em;
}

#modal-button {
margin-top: -73px;
margin-left: 780px;
}

/* profile section */
.profile-section {
  margin: 1.5em 0em 1.5em 1.5em;
  background: white;
  border-radius: 0.5em;
  padding: 1em;
}

.section-title {
  padding:0.5em;
  font-size:1.4em;
  font-weight:500;
}

.top-border {
  border-top: solid;
  border-color: #e6dddd;
  border-width: 1px;
}

.bottom-border {
  border-bottom: solid;
  border-color: #e6dddd;
  border-width: 1px;
}

.section-item {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin: 0em 0.5em;
  /* padding: 0.5em; */
  height: 3.5em;
}

.button-area {
  display:flex;
  align-items:center;
  justify-content: flex-end;
}
.profile-button {
  padding:0.3em 0.5em;
  margin-right:0.5em;
}

