@media(min-width:1025px) {
    .container-fluid {
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  }
  
  @media screen and (max-width:1024px) {
    .container-fluid {
      grid-template-columns: auto auto;
    }
  }
  
  @media screen and (max-width:480px) {
    .container-fluid {
      grid-template-columns: auto;
    }
  }

  

  .table {
    text-decoration: aliceblue;
    font-family: cursive;
    text-align: center;
    display: inline-table;
    margin-top: 1%;
  }

  .title {
    color: rgb(250, 220, 121);
    font-size: large;
  }

  .subtitle {
    font-size: small;
    font-style: italic;
    color: bisque;
  }

  .image-holder {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.jumbotron {
  text-align: center;
  
  background: linear-gradient(to bottom, #f1e2c5, #93e1ff);
  opacity: 0.8;
}

h3 {
  font-size: x-large;
  font-family: cursive;
  color: black;
  font-style: italic;
}