<div class="container-fluid">

    <div class="grid request-list page-height" *ngIf="this.listingCount">
        <!-- <ng-container *ngFor="let user of this.listingCount">
            {{user['displayName']}} at {{user['listingCount']}} listings

        </ng-container> -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lobang King <br>- Highest number of listings in marketplace</th>
                    <th scope="col"> Legendary Dealer <br>- Highest number of completed listings</th>
                    <th scope="col">Good Samaritan <br>- Highest number of completed requests</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td *ngIf="this.listingCountTop3[0]; else notShow">{{this.listingCountTop3[0][2]}},
                        {{this.listingCountTop3[0][1]}}</td>
                    <td *ngIf="this.completedListingCountTop3[0]; else notShow">{{this.completedListingCountTop3[0][2]}},
                        {{this.completedListingCountTop3[0][1]}}</td>
                    <td *ngIf="this.completedRequestCountTop3[0]; else notShow">{{this.completedRequestCountTop3[0][2]}},
                        {{this.completedRequestCountTop3[0][1]}}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td *ngIf="this.listingCountTop3[1]; else notShow">{{this.listingCountTop3[1][2]}},
                        {{this.listingCountTop3[1][1]}}</td>
                    <td *ngIf="this.completedListingCountTop3[1]; else notShow">{{this.completedListingCountTop3[1][2]}},
                        {{this.completedListingCountTop3[1][1]}}</td>
                    <td *ngIf="this.completedRequestCountTop3[1]; else notShow">{{this.completedRequestCountTop3[1][2]}},
                        {{this.completedRequestCountTop3[1][1]}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td *ngIf="this.listingCountTop3[2]; else notShow">{{this.listingCountTop3[2][2]}},
                        {{this.listingCountTop3[2][1]}}</td>
                    <td *ngIf="this.completedListingCountTop3[2]; else notShow">{{this.completedListingCountTop3[2][2]}},
                        {{this.completedListingCountTop3[2][1]}}</td>
                    <td *ngIf="this.completedRequestCountTop3[2]; else notShow">{{this.completedRequestCountTop3[2][2]}},
                        {{this.completedRequestCountTop3[2][1]}}</td>
                </tr>
            </tbody>
        </table>

        <h3 *ngIf ="this.userListingCount; else noListing">Your number of listings is {{this.userListingCount}}</h3>
        <h3 *ngIf ="this.userCompletedListingCount; else noCompletedListing">Your number of completed listings is {{this.userCompletedListingCount}}</h3>
        <h3 *ngIf ="this.userCompletedRequestCount; else noCompletedRequest">Your number of completed requests is {{this.userCompletedRequestCount}}</h3>
    
    
        <ng-template #notShow>
            <td>-</td>
        </ng-template>

        <ng-template #noListing>
            <h3>Your number of listings is 0</h3>
        </ng-template>
        <ng-template #noCompletedListing>
            <h3>Your number of completed listings is 0</h3>
        </ng-template>
        <ng-template #noCompletedRequest>
            <h3>Your number of completed requests is  0</h3>
        </ng-template>

    
    </div>
</div>