@media(min-width:1025px) {
    .container-fluid {
      grid-template-columns: 1fr 1fr 1fr;

    }
  }

  @media screen and (max-width:1024px) {
    .container-fluid {
      grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width:480px) {
    .container-fluid {
      grid-template-columns: auto;
    }
  }

  .header-section {
    background:#cfe1fae3!important;
    color:#043245;

  }

  .table {
    text-decoration: aliceblue;
    /* font-family: cursive; */
    text-align: center;
    display: inline-table;
    margin-top: 1%;
  }
  .body-color {
    background:linear-gradient(to bottom, #c3e7ff83, #ffffff);
    font-weight: 500;
  }

  .title {
    color: #043245;
    font-size: 1.2em;
  }

  .subtitle {
    font-size: 1em;
    font-weight: 400;
    /* font-style: italic; */
    color: #043245;
  }

  .image-holder {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.jumbotron {
  text-align: center;

  background: linear-gradient(to bottom, #c3e7ff83, #ffffff);
  opacity: 0.8;
}

h3 {
  font-size: x-large;
  color: black;
}

.personal-count {
  background-color: rgba(255, 240, 174, 0.87);
}
