
 .search-and-new-request {
  padding:1em 0.5em; 
  display:flex;
  align-items: center;
  height: 6em;
} 
  
  .listings {
    display: flex;
    flex-wrap: wrap;
}

#submit-listing {
  position: absolute;
  right:0
}

.listing-list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* background-color: #f3f3f3; */
  /* min-height: 20em; */
  overflow: scroll;
  height: calc(100vh - 60px - 6em);
  /* max-width: 112em; */
}
.listing-list::-webkit-scrollbar {
/* display: none; */
}
.search-bar {
  width: -webkit-fill-available;
  background: #f3f3f3;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-radius: 0em;
  border-color: #e3dada;
}
.grid {
  display:grid;
  grid-auto-rows: min-content;
}


@media(min-width:1025px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width:1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width:480px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
