html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.login-card {
    align-items: center;
    padding: 1em 1em 1em 1em;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #d6ebf3 !important;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.app-logo {
    width: 3.5em;
    height: 3.5em;
    float: left;
    margin-top: 1.5em;
}
.app-name {
    font-size: 4em;
    color: #11264b;
    letter-spacing: 2px;
    padding: 0em 0.4em 0 0.4em;
    font-family: 'Open Sans Semibold';
}
.google-button {
    width: 50%;
    font-weight: 100;
    font-size: 0.9rem;
    display: flex;
    font-family: 'Open Sans Semibold';
    background-color: white;
    border: 1.5px solid #d4d4d4;
}

.google-icon {
    height: 20px;
    margin: auto;

}

.google-button:hover {
    background-color: #DF4B3B;
    color: white;
    border: 1.5px solid #DF4B3B;
}
.google-button:hover>.google-icon {
    filter: brightness(50);
}

.pdpa-text {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
}