<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
</head>

<body class="text-center">
    <div class="login-card">

        <!-- app name and logo -->
        <div id="name-and-logo" class="container" style="max-width: ;">
            <img class="app-logo" src="../assets/splash-bros.png">
            <div class="app-name">
                weShare
            </div>
        </div>

        <!-- google login -->
        <button class="btn google-button" (click)="auth.googleSignIn()">
            <img src="assets/google-btn.svg" class="google-icon">
            Login with Google
        </button>

        <!-- pdpa text -->
        <div class="pdpa-text">By signing up or logging in, you agree to weShare's 
            <a> Terms of Service</a> 
            and
            <a>Privacy Policy</a>.
        </div>

    </div>
    

</body>
<footer>
    <div style="padding-top:1em; color:grey; text-align: center;">
        © SplashBros 2020
    </div>
</footer>

</html>