<div class="page-height home-list home-body" >


    <div class="login-card">

        <!-- app name and logo -->
        <div id="name-and-logo" style="display:flex; align-items:center; justify-content:center; padding:1em;">
            <img class="app-logo" src="../assets/splash-bros.png">
            <div class="app-name">weShare</div>
        </div>

        <!-- google login -->
        <button class="btn google-button" (click)="auth.googleSignIn()">
            <img src="assets/google-btn.svg" class="google-icon">
            Login with Google
        </button>

        <!-- pdpa text -->
        <div class="pdpa-text">By signing up or logging in, you agree to weShare's
            <span class="pdpa-link"> Terms of Service</span>
            and
            <span class="pdpa-link">Privacy Policy</span>.
        </div>


    </div>


</div>
