
<!-- Header -->
<header>

  <!--Main title of front page-->
  <h2>Welcome to SplashBros&copy;</h2>

  <h4><i>-Stronger as a community-</i></h4>

</header>

<!-- Body -->
<body>
  

    <span>Log In or <a href = "#">Sign Up</a> </span>
    
    <br>
  <section>
    <input id = "username" type = "text" placeholder="Username">
    
    <br>
    
    <input type = "password" placeholder="Password">
  
  </section>

</body>



  <!-- Footer -->
  <footer>
  
    <div>&copy; SplashBros 2020</div>      
  </footer>



<router-outlet></router-outlet>