/* explore page */

.search-and-new-request {
  padding:1em 0.5em;
  display:flex;
  align-items: center;
  height: 6em;
}
.image-holder {
    display: block;
    position: relative;
    z-index: 1;
    background: center/cover no-repeat #fff;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.24);
    overflow: hidden;
    -webkit-transition-duration: .22s;
    transition-duration: .22s;
    width: 10em;
    height: 10em;
}

.profile-header {
    position: relative;
    bottom: 2em;
    margin-left: 6.25em;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: #000;
}


.profile-name {
    align-self: center;
}


 #modal-button {
  margin-top: -73px;
  margin-left: 780px;
}

#search-bar  {
  /* width: fit-content; */
  margin-left: 950px;
  margin-top: -65px !important;
}
.filter-section {
  display:flex;
  padding:0.5em 1em;
  height:3em;
  align-items:center;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #328eb3;
}

.request-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* background-color: #f3f3f3; */
    /* min-height: 20em; */
    overflow: scroll;
    height: calc(100vh - 60px - 6em - 3em);
}
.request-list::-webkit-scrollbar {
  /* display: none; */
}


.nav-link.active {
    background-color: #fbf7ec;
    /* border-color: #fbf7ec; */
    border-block-end-color: #fbf7ec;
}

.search-bar {
  width: -webkit-fill-available;
  background: #f3f3f3;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-radius: 0em;
  border-color: #e3dada;
}

.grid {
  display:grid;
  grid-auto-rows: min-content;
}


@media(min-width:1025px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width:1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width:480px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}



