
 .image-holder {
    display: block;
    position: relative;
    z-index: 1;
    background: center/cover no-repeat #fff;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.24);
    overflow: hidden;
    -webkit-transition-duration: .22s;
    transition-duration: .22s;
    width: 10em;
    height: 10em;
}

.profile-header {
    position: relative;
    bottom: 2em;
    margin-left: 6.25em;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: #000;
}


.profile-name {
    align-self: center;
}

 
 #modal-button {
  margin-top: -73px;
  margin-left: 780px;
}

#search-bar  {
  /* width: fit-content; */
  margin-left: 950px;
  margin-top: -65px !important;
} 

.request-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #fbf7ec;
    min-height: 20em;
    /* max-width: 112em; */
}

.nav-link.active {
    background-color: #fbf7ec;
    /* border-color: #fbf7ec; */
    border-block-end-color: #fbf7ec;
}


@media(max-width:687px) {
    .request-area {
        width: 100%;
    }
}


