 #modal-button {
  margin-top: -73px;
  margin-left: 780px;
}

#search-bar  {
  /* width: fit-content; */
  margin-left: 950px;
  margin-top: -65px !important;
} 

.request-list {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 112em; */
}


@media(max-width:687px) {
    .request-area {
        width: 100%;
    }
}