<div style="background-color: #f3f3f3">
  <img id="loading-header" src="../../../assets/loading.gif" />
  <div id="content" class="fade-right" style="display:none; padding-left: 20px;position:relative">
    <div id="requests" >

      <!-- all requests -->
      <div *ngIf="this.requestState == 'all requests' && this.allRequests" class="request-list">
        <div *ngFor="let request of this.allRequests" class="request-area">
          <app-request-listing [requestID]="request['ID']"></app-request-listing>
        </div>
      </div>

      <!-- my requests -->
      <div *ngIf="this.requestState == 'my requests' && this.myRequests" class="request-list">
        <div *ngFor="let request of this.myRequests" class="request-area">
          <app-request-listing [requestID]="request['ID']"></app-request-listing>
        </div>
      </div>

    </div>

  </div>
</div>
