<div *ngIf="this.requestDetails && this.creatorDetails">

  <!-- request card -->
  <!-- <div id="req-card" class="req-card" style="margin:1em;" data-toggle="modal" data-target="#request-details-modal"> -->
  <div id="req-card" class="req-card" style="margin:0.5em;" (click)="openDetailsModal()">
    <div class="req-title"> {{this.requestDetails['title']}}</div>

    <div class="req-desc word-break">
        {{this.requestDetails['description']}}
    </div>

    <div id="time-ago" class="time-ago">
        {{this.creatorDetails["displayName"]}} / {{this.timeAgo()}}
    </div>

  </div>

  <!-- request details modal -->
  <div id="request-details-modal" class="modal fade" tabindex="-1" role="dialog" style="display:none;">
    <div  class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" *ngIf="this.requestDetails && this.creatorDetails">
        <div class="modal-header">
          <h1>{{ this.requestDetails["title"] }}</h1>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <button type="button" class="close"  (click)="closeDetailsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="id">ID: {{ this.requestDetails["ID"] }}</div>
          <div id="description">
            Description: {{ this.requestDetails["description"] }}
          </div>
          <div id="urgency">Urgency: {{ this.requestDetails["urgency"] }}</div>
          <div id="duration">Duration: {{ this.requestDetails["duration"] }}</div>
          <div id="incentive">
            Incentive: {{ this.requestDetails["incentive"] }}
          </div>
          <div id="status">Status: {{ this.requestDetails["status"] }}</div>

          <!-- creator details -->
          <div id="creator">Created By: {{ this.creatorDetails["uid"] }}</div>
          <div id="contact-details">Contact: {{ this.creatorDetails["userContact"] }}</div>
          <div id="room-details">Room: {{ this.creatorDetails["roomDetails"] }}</div>

          <!-- helper details -->
          <div *ngIf="this.helperDetails">Helper : {{ this.helperDetails["displayName"] }}</div>
          <div *ngIf="!this.helperDetails">Helper : nil</div>

        </div>

        <div id="possible-actions" class="modal-footer">
          <!-- <div *ngIf="this.userID == this.creatorID">
                  <button  type="button" class="btn btn-primary" >Edit</button>
                  <button  type="button" class="btn btn-primary" >Delete</button>
              </div> -->
          <div *ngIf="this.userID != this.creatorDetails['uid']">
            <button *ngIf="this.requestDetails['status'] == 'active'" type="button" class="btn btn-primary"
              (click)="acceptRequest()">
              Help {{ this.creatorDetails['displayName'] }}!
            </button>
            <button *ngIf="
                this.requestDetails['status'] == 'ongoing' &&
                this.requestDetails['helper'] == this.userID
              " type="button" class="btn btn-primary" (click)="unacceptRequest()">
              Give up
            </button>
            <button *ngIf="
                this.requestDetails['status'] == 'ongoing' &&
                this.requestDetails['helper'] == this.userID
              " type="button" class="btn btn-primary" (click)="completeRequest()">
              I've finished!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
