<!doctype html>
<html lang="en">
  <body class="body">
        <div class="home-background" style="align-items: center;">
            <div class= "home-sub-header" style="padding-top:2em">
                <span >
                    Seek Help. Give Back Later. 
                </span>
            </div>
            <div class= "home-description">
                <span>
                    Need to do your laundry or get lunch but your assignment by 2359? No worries! Post a request and get people to help you! Have extra magic clean wipes and want to sell them away? Sell it to your other hall mates!
                </span>
            </div>
            <button id="get-started" class="btn btn-lg btn-primary btn-block" style="width: 10em; margin-left: 17em; margin-top: 2em;" (click)="router.navigate(['/explore']);">Get Started!</button>
        </div>
  </body>
  <footer>
      <div style="padding-top:1em; color:grey; text-align: center;">
          © SplashBros 2020
      </div>
  </footer>
</html>