<!doctype html>
<html lang="en">
  <body class="body">
        <div class="home-background">
            
            <div class= "home-header">
                <b> We Share. </b>
            </div>
            <div class= "home-sub-header">
                Your one stop for all things <i style = "text-shadow: 2px 2px 5px rgb(45, 135, 253);">Community</i>.
            </div>
        </div>
  </body>
  <footer>
      <div style="padding-top:1em; color:grey; text-align: center;">
          © SplashBros 2020
      </div>
  </footer>
</html>