.new-listing-header {
  background-color:#328eb3;
  color: white;
  font-size: 0.9em;
}
.new-listing-body {
  background-color: #f3f3f3;
}

.new-listing-item {
  padding: 0.5em 0.5em;

}
.item-top-border {
  border-top:solid;
  /* border-bottom: solid; */
  border-width: 1px;
  /* border-bottom-width: 1px; */
  border-color: #e3e1e1;
}

.new-listing-footer {
  background-color: #f3f3f3;
}

textarea {
  border: none;
  border-radius: 0.3em;
  overflow: auto;
  outline: none;

  /* -webkit-box-shadow: none; */
  /* -moz-box-shadow: none; */
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}


#price-input {
    margin-top: 10px;
}

#picture-upload {
    text-align: center;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }

#drop-area {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: column;  */
    /* min-width: 10vw; */
    /* font-weight: 200; */
    /* height: 50px; */
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    /* margin: 10px 0; */
    padding: 10px 100px;
}


#drop-area:hover {
    border: 2px solid #f16624;
}

.file-label {
    font-size: 1.2em;
}

img {
    /* border: solid; */
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.alert {
    color: red;
    padding: 0%;
}
