<nav id="sidebar" class="page-height"
  *ngIf=" this.navstate != ''">
  <!-- *ngIf="this.navstate != 'login' && this.navstate != 'home' && this.navstate != ''"> -->
  <!-- user details -->
  <div class="sidebar-header">
    <div id="image-area" style="display: flex; justify-content: center;padding-bottom: 1em;">
      <div class="image-holder" style="margin-left: 0.5em; margin-top: 0.3em; ">
        <img src="{{ this.userImg }}" class="image-holder" />
      </div>
    </div>
    <div id="name" style="text-align: center; font-size: 20px;">
      {{ this.displayName }}
    </div>
    <div id="email" style="text-align: center; font-size: 13px; color:#8f939e;">
      {{ this.userEmail }}
    </div>

  </div>

  <ul class="list-unstyled components">
    <div id="navigation" class="group-header">NAVIGATION</div>

    <!-- profile -->
    <li>
      <a id="profile" class="hello" routerLinkActive="active" routerLink="/profile">Profile</a>
    </li>

    <!-- requests -->
    <li>
      <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Requests</a>
      <ul class="collapse list-unstyled" id="requestSubmenu">
        <li>
          <a routerLink="/explore/all-requests" routerLinkActive="active">
            All Requests
          </a>
        </li>
        <li>
          <a routerLink="/explore/my-requests" routerLinkActive="active">
            My Requests
          </a>
        </li>
        <li>
          <a routerLink="/explore/accepted-requests" routerLinkActive="active">
          Requests I accepted
          </a>
        </li>
      </ul>
    </li>

    <!-- marketplace -->
    <li>
      <a href="#marketplaceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Marketplace</a>
      <ul class="collapse list-unstyled" id="marketplaceSubmenu">
        <li>
          <a routerLink="/marketplace/all-listings" routerLinkActive="active">
          All Listings</a>
        </li>
        <li>
          <a routerLink="/marketplace/my-listings" routerLinkActive="active">
          My Listings</a>
        </li>
        <li>
          <a routerLink="/marketplace/ongoing-listings" routerLinkActive="active">
          My Ongoing Transactions</a>
        </li>

        <li>
          <a routerLink="/marketplace/completed-listings" routerLinkActive="active">
          Completed Listings</a>
        </li>
      </ul>
    </li>

    <!-- chat -->
    <li>
      <a (click)="incompleteFeatureAlert('chat')">Chat</a>
    </li>

    <!-- leaderboard -->
    <li>
      <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
    </li>
  </ul>

  <ul class="list-unstyled components">
    <div id="navigation" class="group-header">SETTINGS</div>

    <!-- push notifications toggle -->
    <li>
      <a (click)="incompleteFeatureAlert('notifications')">Push Notifications <i class="fa fa-toggle-on"></i></a>
    </li>
  </ul>

</nav>
