/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}



::-webkit-scrollbar {
  background: transparent;
  -webkit-appearance: none;
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #92c1d4;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  transition:0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #628b9b;
  transform: scale(1.6);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1em;
}

.page-color {
    background-color: #f3f3f3;
}
.page-height {
  /* height: calc(100vh - 60px); */
  height: calc(100vh);
}
.page-width {
  /* width: calc(100% - 250px); */
  width: calc(100%);
}

.page-list {
  /* overflow: scroll; */
  padding-top:60px;
}
.page-list::-webkit-scrollbar {
/* display: none; */
}

.main-button {
  background-color: #328eb3;
  padding: 0.7em;
  color: #fff;
  border-radius: 0.7em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s;
}
.main-button:hover {
  background-color: #225e77;
}

.modal-holder{
  animation-name: example;
  animation-duration: 0.3s;
}

.modal-header .close {
  /* padding: 1rem; */
  /* margin: -1rem -1rem -1rem auto; */
}


@keyframes example {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}

